body {
    background-color: cornsilk;
}

.container {
    padding-top: 50px; 
    width: 70%; 
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: rgb(192, 192, 192, 0.8);
  }